.body {
  min-height: 65vh;
  display: grid;
  place-items: center;
}

.slider {
  height: 100%;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  /* place-items: center; */
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(600px * 30);
  animation: scroll 650s linear infinite;
}

.slide {
  height: 100%;
  width: 600px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 200px;
}

img {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  cursor: pointer;
  border-radius: 10px;
}

img:hover {
  transform: translateZ(10px);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-600px * 30));
  }
}
